:root{
    --flaxen:#D6C886;
    --darkleaf:#CAD998;
    --fern:#9C9C53;
    --ivy:#6A774E;
}
/*  HEADER  */
body{
    background-color:var(--flaxen);
    justify-content: center;
    align-items: center;
    text-align: center;
}
#title{
    text-align: center;
}
#title h1{
    color:var(--ivy);
}
#title h3{
    color:var(--fern);
}

/*  BOX  */
#box{
    text-align: center;
    background-color: var(--darkleaf);
}
.centered-section {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 10px;
}
#error{
    color:red;
}
#star {
    width: 100px;
    height: 100px;
    background-color: yellow;
    clip-path: polygon(
        50% 0%, 61% 35%, 98% 35%, 68% 57%,
        79% 91%, 50% 70%, 21% 91%, 32% 57%,
        2% 35%, 39% 35%
    );
}
/* SCREEN */
#screen{
    width: 400px;
    height: 400px;
    background-color: black;
    position: relative;
    margin: 0 auto;
    top:75%;
    margin-top: 20px;
    border-radius: 10px;
    border: 5px solid #ccc;
}

/*  MEDIA QUERY  */