:root{
    --flaxen:#D6C886;
    --darkleaf:#CAD998;
    --fern:#9C9C53;
    --ivy:#6A774E;
}

/*  MAIN  */

body{
    background-color:var(--darkleaf);
    justify-content: center;
    align-items: center;
}
#header h1{
    text-align: center;
    color:var(--ivy);
}
#header h2{
    color:var(--fern);
    text-align: center;
}


#title {
    font-weight: bold;
    font-size: 20px;
}

#description {
    margin-bottom: 20px;
}
.image-container {
    border:3px solid black;
    justify-content: center;
}
.image-container img {
    width: 150px;
    height: 150px;
    margin:10px;
    border:3px solid black;
}
#title{
    text-align:center;
    color:#6A774E;
}
#description{
    text-align:center;
    color:#6A774E
}
/*  ARRAY  */
#main{
    background-color: var(--ivy);
}

/* MEDIA QUERIES  */

@media (min-width: 900px){
    #main-nav,.image-container{
        display: flex;
    }
    #links{
        flex: 1;
    }
    #nav-toggle{
        display:none;
    }
}