/* Structure */
body{
    background: #513451;
    font-family:Arial, Helvetica, sans-serif;
}

#content {
    background: white;
    padding: 5px;
    margin: 20px;
    width:70%;
    border-radius: 10px;
}

/*Navigation*/
#main-nav a {
    text-decoration: none; /*No underline*/
    background: pink;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
}

#main-nav a:hover{
    background: black;
    color: pink;
}

#main-nav ul {
    padding-left: 0;/*removes left padding*/
}

#main-nav li {
    list-style-type: none; /*no bullets*/
    display: inline-block; /*appear on one line*/
}

/* Typography */
h1 {
    color: red;
}

p {
    color: blue;
}