/*Structure*/
body {
    background: url("images/oceanback.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    width: 95%;
    margin: auto;
    background: white;
    border-radius: 5px;
}

#species section{
    background: lightgreen;
    padding:5px;
    margin:5px;
}

#main-header {
    background-color: skyblue;
    border-radius: 5px;
}

#main-nav ul {
    padding-left: 0;
}

#main-nav li{
    list-style: none;
    border-bottom: 1px solid violet;
}

#main-nav a{
    text-decoration: none;
    padding: 5px;
    background: black;
    color: violet;
    display: block;
}
#main-aside {
    background-color: red;
}
#news section {
    background: lightcyan;
}

#main-footer {
    background:violet;
}

/*Navigation*/


/*Typography*/

#main-footer p{
    text-align: center;
}

/*Media Queries*/

@media only screen and (min-width:600px) {
    .columns{
        display:flex;
    }

    .one{
        flex:1;
    }
    .two{
        flex:2;
    }
    .three{
        flex:3;
    }
    .four{
        flex:4;
    }

    
    #main-nav li{
        flex:1;
    }
}
@media only screen and (min-width:768px) {
    
}