/*Structure*/
body {
    background: url("images/oceanback.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    width: 70%;
    margin: auto;
    background: white;
    border-radius: 5px;
}

/*Navigation*/


/*Typography*/


/*Media Queries*/

