#title{
    color:blue;
    text-align: center;
}
body{
    background-color:tan;
    align-items: center;
}
.flavors{
    text-align:center;
    font-size: 20px;
    padding:10px;
    margin:10px;
    border:3px solid black;
    height:100px;
    width:100px;
}

.overlay{
    background-color: #00000080;
    padding: 30px;
    margin-top:26px;
    color:white;
    display: none;
}
.flavors:hover .overlay {
    display: block;
    opacity: 1;
  }
/*Media Query*/
@media (min-width: 600px) {
    #icecream-menu{
        display: flex;
        flex-wrap:wrap;
    }
    .flavors{
        flex:22%;
    }
}
