/*Structure*/
body {
    background: #9A2A2A;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}
body #name{
    text-align: left;
}
.assignment-columns{
    margin:5px;
    background-color: #671a1a;
    padding:5px;
    border-radius: 5px;
}
.assignment-columns a{
    background-color: antiquewhite;
    color: black;

}
.assignments {
    background: black;
    color:gray;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.assignments ol {
    padding-left: 0;
}

.assignments li{
    list-style-type: none;
}

.assignments a{
    text-decoration: none;
   
}
.assignment-columns a:hover, a:active {
    background-color: red;
  }


@media (min-width: 900px)
{
    .assignments{
        display: flex;
    }

    .assignment-columns{
        flex: 1;
    }
}