/*Structure*/
body {
    background: #9A2A2A;
    font-family:Arial, Helvetica, sans-serif;
    color: gray;
}

#assignments {
    background: black;
    color:gray;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

#assignments ol {
    padding-left: 0;
}

#assignments li{
    list-style-type: none;
}

#assignments a{
    text-decoration: none;
    color: rgb(19, 55, 55);
}
