:root{
    black:black;
}

#img-logo{
    text-align: left;
}
.buttons
{
    size:100 px;
}
#title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
}
#middlecol{
    text-align: center;
}
#aboutus-main{
    text-align: center;
}
#checkout-main{
    text-align: center;
}
#surf-main{
    text-align: center;
}
#btn{
    margin:25px;
}
a{
    text-decoration: none;
    color: black;
}
@media only screen and (min-width: 600px) {

    #column,#middlecol,#main-bottom,#main-middle,#aboutus-main,#checkout-main,#surf-main{
        display: flex;
    }
    #btn,#img-logo,#shoplink,#main-middle,#p,#column1,#column2{
        flex:1;
    }
}