body{
    text-align: center;
    background-color: beige;
}
#main-nav{
    text-align: center;
}
#ass-1{
    text-decoration:none;
    color:black
}
#ass-2{
    text-decoration:none;
    color:black
}
.hidden{
    display:none;
}

/*Slider*/
.slider {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
#slider{
    background-color: lightcyan;
    border-radius: 10px;
}
/*Images*/
#images{
    background-color: lightskyblue;
    border-radius:10px;
    text-align: center;
}
#img-large{
    text-align:center;
}

/*media quieries*/
@media (min-width: 900px){
    #main-nav{
        display: flex;
    }
    #links{
        flex: 1;
    }
}