body{
    text-align: center;
    background-color: beige;
}
#header-nav{
    text-align: center;
}
#main-items{
    text-align: center;
}
#ass-1{
    text-decoration:none;
    color:black
}
#ass-2{
    text-decoration:none;
    color:black
}
.hidden{
    display:none;
}

/*Slider*/

/*Images*/
#images{
    background-color: lightskyblue;
    border-radius:10px;
    text-align: center;
}
/*hamburger*/
#header-nav ul{
    list-style-type: none;
    padding: 5px;
    text-align: center;
}
#nav-toggle div{
    width:35px;
    height:5px;
    background-color: black;
    margin:6px 0;
}
#header-nav li{
    color: black;
    margin:5px;
    font-size: 13px;
}
.hidden{
    display: none;
}
#slider{
    color:white;
}

/*media quieries*/
@media (min-width: 900px){
    #main-nav{
        display: flex;
    }
    #links{
        flex: 1;
    }
    #nav-toggle{
        display:none;
    }
}